div{
    display:flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 20px;
}


input{
    border:1px solid black;
    margin-right: 10px;
    width: 355px;
    height: 50px;
    
}
button{
    text-transform: uppercase;
    width: 80px;
    height: 52px;
    background-color: white;
    border:1px solid black;
    
}